:root {
  --orange: #e38826;
  --cyan: #006970;
  --dark-cyan: #004241;
  --text: hsla(0, 0%, 100%, 0.75);
  --bg: #f2f2f2;
  --ff: "Lexend Deca";
  --acent-ff: "Big Shoulders Display";
}
@font-face {
  font-display: swap;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url(../media/lexend-deca-v21-latin-regular.f1399a81a47fc70aeef0.woff2) format("woff2"),
    url(../media/lexend-deca-v21-latin-regular.5e1dba71577ebbdf5355.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 400;
  src: url(../media/big-shoulders-display-v19-latin-regular.b56e8183618a293b2a7e.woff2) format("woff2"),
    url(../media/big-shoulders-display-v19-latin-regular.1ab15f050136a9723fd4.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 700;
  src: url(../media/big-shoulders-display-v19-latin-700.5106b44b70e68c9cb44a.woff2) format("woff2"),
    url(../media/big-shoulders-display-v19-latin-700.b51f05e8bfebf068e40c.woff) format("woff");
}
:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
menu,
ol,
ul {
  list-style: none;
}
img {
  display: inline-block;
  max-width: 100%;
  max-block-size: 100%;
  max-inline-size: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
}
::-webkit-input-placeholder {
  color: inherit;
}
::placeholder {
  color: inherit;
}
::marker {
  content: normal;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  -webkit-line-break: after-white-space;
  overflow-wrap: break-word;
  -webkit-user-select: auto;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
}
body {
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  overflow: auto;
  overflow-x: hidden;
  touch-action: manipulation;
}
html {
  font-family: Lexend Deca, sans-serif;
  font-family: var(--ff), sans-serif;
  font-size: 15px;
}
body,
html {
  height: 100%;
}
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#root {
  margin: auto;
}
.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1em;
}
.grid {
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  overflow: hidden;
}
.grid__icon {
  margin-bottom: 2em;
  width: 70px;
}
.btn {
  align-self: flex-start;
  background-color: var(--bg);
  border: 2px solid var(--bg);
  border-radius: 2em;
  color: #000;
  cursor: pointer;
  margin-top: auto;
  mix-blend-mode: screen;
  padding: 0.95em 2em;
}
.btn:hover {
  background-color: initial;
  color: var(--bg);
}
.btn:disabled {
  opacity: 0.5;
}
.grid__item {
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 2.8em 2.5em;
}
.grid__title {
  font-family: var(--acent-ff), sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.grid__text {
  line-height: 2;
  margin-bottom: clamp(2em, 10vh, 6.5em);
}
